

h1 {
    background-color:rgb(184, 181, 181);
    padding: 15px;
    font-size: 30px;
}

.card-header {
    font-family: 'Black Ops One', cursive;
}

#wins, #losses {
    font-family: 'Black Ops One', cursive; 
}

.card-text {
    font-size: 17px;
    letter-spacing: 1px;
    background-color: rgb(184, 181, 181); 
    padding: 10px;
    font-family: 'Black Ops One', cursive;
}

body {
    background-image: url(https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app04.jpg);
}

#random, #total {
    background-color: rgb(128, 126, 126);
}
